.sbs {
    width: 1000px;
}

#image_tbc {
    float:left;
    width: 500px;
}

#image_con {
    float: right;
    width: 500px;
}

#hor_container {
    width: 600px;
    overflow: auto;
    height: 100px;
    white-space:nowrap;
}

.scroll_img {
    margin-top: 20px;
    width: 80px;
    display:inline-block;
}

.main_img {
    width: 600px;
}