.sbs {
    width: 1300px;
}

.hide {
    display:none;
}

#table_wrapper {

}

body {
    margin:10px;
}

#submit_image {
    margin-bottom: 10px;
}

#progress_wrapper {
    width: 580px; /*600px max width - padding * 2*/
}

#image_tbc {
    float:left;
    width: 600px;
}

#image_con {
    float: right;
    width: 600px;
}

#hor_container {
    width: 600px;
    overflow: auto;
    height: 100px;
    white-space:nowrap;
}

.scroll_img {
    margin-top: 20px;
    width: 80px;
    display:inline-block;
}

.main_img {
    width: 600px;
}